<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
</head>
<body>
 <h1>Andrew Sterling</h1>
 <p>I am a third year student pursing an undergraduate degreein Computer Science and international Relations. My hobbies include playing games, watching tv, sports,
    and surfing the web. In the future I will become a Dentist. My interes in Web Devlopments extends to the
    fact that it compliments my dgree in Computer Science and it exposes me a different coding language and styel</p>
</body>
</html> 